@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CredPoint</h1>
    <p class="lead">CredPoint é um aplicativo de troca de pontos de cartão de crédito por produtos</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Sobre &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Notícias</h2>
        <p>
            Verifique nossas últimas atualizações.
        </p>
        <p><a class="btn btn-default">Notícias &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entre em contato</h2>
        <p>Nos mande uma mensagem para mais informações</p>
        <p><a class="btn btn-default"">Contato &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastre-se</h2>
        <p>Se cadastre e comece a usar nosso aplicativo</p>
        <p><a class="btn btn-default" ">Cadastrar &raquo;</a></p>
    </div>

</div>