
@{
    ViewBag.Title = "IndexNoticia";
}

<h2>Noticia</h2>
<ul>
    <li>@Html.ActionLink("Cadastrar Notícia", "CadastrarNoticia")</li>
    <li>@Html.ActionLink("Listar Notícias", "ListarNoticia")</li>
</ul>

